<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="/css/layout.css" rel="stylesheet" />
		<title>magic</title>
	</head>
	<body>
		<div class="container">
			<header class="header">
				<div class="header container">
					<div class="logo">
						
					</div>
					<div class="left_2">
						<div class="search">
							<div class="search img">
							
							</div>
							<input type="text"/>
						</div>
					</div>
					<nav class="nav">
						<a class="nav bar" href="/home"><strong>列表1</strong></a>
						<a class="nav bar"href="/user"><strong>列表2</strong></a>
						<a class="nav bar"><strong>列表3</strong></a>
						<a class="nav bar"><strong>列表4</strong></a>
						<a class="nav bar"><strong>列表5</strong></a>
					</nav>
				</div>
			</header>
			{{{body}}}
			<footer>
			
			</footer>
		</div>
	</body>
</html>