<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="/css/layout.css" rel="stylesheet" />
		<link href="/css/form.css" rel="stylesheet" />
		<link href="/css/markdown.css" rel="stylesheet" />
		<title>magic</title>
	</head>
	<body>
		<div class="container">
			<header class="header">
				<div class="header container">
					<div class="logo">
						
					</div>
					<div class="left_2">
						<div class="search">
							<div class="search img">
							
							</div>
							<input type="text"/>
						</div>
					</div>
					<nav class="nav">
						<a class="nav bar" href="/home"><strong>列表1</strong></a>
						<a class="nav bar"href="/user"><strong>列表2</strong></a>
						<a class="nav bar"><strong>列表3</strong></a>
						<a class="nav bar"  href="/signup"><strong>注册</strong></a>
						{{#if user}}
						<span class="nav bar" onclick="openUserinfo();" id="drop_down1">
							<strong id="drop_down2">{{user.username}}</strong>
							<div class="userinfo" id="userinfo">
								<a class="userinfo_item" href="/home"><strong>个人信息</strong></a>
								<a class="userinfo_item" href="/home"><strong>列表1</strong></a>
								<a class="userinfo_item" href="/home"><strong>列表1</strong></a>
								<a class="userinfo_item" href="/home"><strong>列表1</strong></a>
								<a class="userinfo_item" href="/signout"><strong>退出</strong></a>
							</div>
						</span>
						{{else}}
						<a class="nav bar" href="/signin"><strong>登录</strong></a>
						{{/if}}
					</nav>
				</div>
			</header>
			{{{body}}}
			<script src="/js/client.js"></script>
			<footer>
			
			</footer>
		</div>
	</body>
</html>