<form action="/user_login" method="post">
	<div class="item">
		<text>邮箱</text><input type="text" />
	</div>
	<div class="item">
		<text>密码</text><input type="password" />
	</div>
	<div class="item">
		<input class="btn" type="submit" value="登录"/>
	</div>
	
</form>