<div class="sign">
	<form id="signup" name="signupForm" action="/user/signup" method="POST">
	<div class="mark" id="show" style="height : 10px; font-size : 10px ; color : red; ">
			<text id="show_text">{{msg}}</text> 
	</div>
	<div class="item">
		<text>邮箱</text><input id="username" type="text" name="user[username]"/>
	</div>
	<div class="item">
		<text>密码</text><input id="password" type="password" name="user[password]"/>
	</div>
	<div class="item">
		<input class="btn" type="submit" name="submit" value="注册"/>
	</div>
</form>
	
</div>
<script src="/lib/validate.js"></script>
<script>
     var formvalidator = new FormValidator('signupForm',
    [
        {
            name : 'user[username]',
            display : '邮箱',
            rules : 'required|valid_email' 
        },
        {
            name : 'user[password]',
            display : '密码',
            rules : 'required|valid_password' 
        }
    ],
    function(errors, event) {
        if (errors.length > 0) {
            // Show the errors0
            document.getElementById('show_text').innerHTML = errors[0].message;
        }
    });  

</script>