<div class="user_info_content">
	<div class="title">
		<h1>个人资料</h1>
	</div>
	<div class="avatar">
		<input type="file" value="请选择图片"/>
	</div>
	<div class="nickname">
		<div class="name">
			
		</div>
		<div class="value">
			
		</div>
	</div>
	<div class="phone">
		<div class="name">
			
		</div>
		<div class="value">
			
		</div>
	</div>
	<div class="place">
		<div class="name">
			
		</div>
		<div class="value">
			
		</div>
	</div>
	<div class="info">
		<div class="name">
			
		</div>
		<div class="value">
			
		</div>
	</div>
</div>