<div class="user_content">
		<div class="left">
			<div class="avatar">
				<img class="avatar_img" src="/img/avatar.jpg" />
			</div>
			<div class="fans">
				<div class="star">
					<div class="num">
						22
					</div>
					<div class="name">
						关注
					</div>
				</div>
				<div class="follow">
					<div class="num">
						11
					</div>
					<div class="name">
						粉丝
					</div>
				</div>
			</div>
			<div class="level">
				<div class="level_name">
					等级
				</div>
				<div class="level_num">
					11
				</div>
			</div>
			<div class="gold">
				<div class="gold_name">
					金币
				</div>
				<div class="gold_num">
					100
				</div>
			</div>
		</div>
		<div class="right">
			<div class="title">
				<h1>个人信息</h1>
			</div>
			<div class="nickname">
				<div class="name">
					昵称
				</div>
				<div class="value">
					郭靖
				</div>
			</div>
			<div class="phone">
				<div class="name">
					电话
				</div>
				<div class="value">
					18652354125
				</div>
			</div>
			<div class="place">
				<div class="name">
					地址
				</div>
				<div class="value">
					中原
				</div>
			</div>
			<div class="info">
				<div class="name">
					个人简介
				</div>
				<div class="value">
					我会降龙十八掌，我还有黄蓉，我武功盖世，就是有点傻，谁都能骗我，这可咋整呢。
				</div>
			</div>
		</div>
</div>