<div class="user_info_content">
	<form name="userinfoForm" action="/user/setuserinfo" method="POST">
		<div class="back">
			<div class="title">
			<h1>个人资料</h1>
		</div>
		<div class="avatar">
			<div class="name">
					头像
			</div>
			<div class="value">
				<label for="avatar">
					<img src="img/upload_avatar.png" id="show_avatar" />
                    <input type="text" id="avatar_value" style="display : none" name="user[avatar]" />
					<input type="file"  id="avatar" value="" style="display : none" onchange="uploadAvatar();"/>
				</label>
			</div>
			
		</div>
		<div class="nickname">
			<div class="name">
				昵称
			</div>
			<div class="value">
				<input type="text" name="user[name]" placeholder="请输入昵称" maxlength="6" />
			</div>
		</div>
		<div class="phone">
			<div class="name">
				电话
			</div>
			<div class="value">
				<input type="text" name="user[phone]" placeholder="请输入电话" maxlength="11"/>
			</div>
		</div>
		<div class="place">
			<div class="name">
				地址
			</div>
			<div class="value">
				<input type="text" name="user[place]" placeholder="请输入地址" maxlength="11"/>
			</div>
		</div>
		<div class="info">
			<div class="name">
				个人简介
			</div>
			<div class="value">
				
			</div>
		</div>
        <div class="text_area">
			<textarea name="user[info]" maxlength="100"></textarea>
		</div>
	</div>
	<div>
		<input type="submit" name="submit" class="btn" value="确定" />
	</div>
	</form>
</div>
<script src="/lib/validate.js"></script>
<script>
    console.log(0)
    var userinfo_validator = new FormValidator('userinfoForm',
    [
        {
            name : 'user[name]',
            display : '昵称',
            rules : 'required' 
        }
    ],
    function(errors, event) {
        if (errors.length > 0) {
            // Show the errors0
            console.log(errors[0].message);
            //document.getElementById('show_text').innerHTML = errors[0].message;
        }
    });  
</script>