body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
	width : 100%;
}
.container {
    width : 100%;
}
.header {
	display : flex;
	align-items : center;
    width : 100%;
	height : 100px;
	color : #DADAE0;
	/*background : #000000;*/
	background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #000000 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #000000 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #000000 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #000000 0%,#ffffff 100%);
}
.header.container  , .content{
	display : flex;
	flex-direction : row;
	justify-content : flex-end;
    max-width : 960px;
	margin : 0 auto;
	padding : auto 0;
}
.logo {
	width : 20%;
	height : 128px;
	background : url('/img/logo.png') no-repeat 18px 18px;
} 
.left_2 {
	width : 30%;
}
.search {
	width : 210px;
	display : flex;
	flex-direction : row;
	padding : 0 10px 0 10px;
	border-radius : 25px;
	background : #DADAE0;
	
}
input {
	border : none;
	width : 164px;
	background : #DADAE0;
}
.search.img {
	width : 24px;
	background-color : #DADAE0;
	background-image : url('/img/search.png');
	background-size : 18px 18px;
	background-repeat : no-repeat;
}
div.search:hover {
	background-color : #ffffff;
}
div.search:hover div{
	background-color : #ffffff;
}
div.search:hover input{
	background-color : #ffffff;
}
.nav {
	width : 50%;
	display : flex;
	justify-content : center;
}
.nav.bar {
	display : block;
	position: relative;
}
.userinfo {
	display : none; 
	position: absolute;
	top: 100%;
	left: 0;
	margin-top : 10px;
	z-index: 100;
	width: 120px;
	background-color: #ffffff;
}
.userinfo_item {
	display : flex;
	justify-content : center;
	align-items : center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top : 2px;
	background-color: #ffffff;
}
.userinfo a:hover {
	background-color : whitesmoke;
	color : black;
}

.nav a , .nav span {
	color : #DADAE0;
	 text-decoration:none;
}
.nav a:hover ,.nav span:hover {
	color : #FFFFFF;
	 text-decoration:none;
}
strong {
	font-weight : auto;
}


/* home */
.content {
	width : 100%; 
	display : flex;
	flex-direction : row;
}
.content_left {
	width : 73%; 
	display : flex;
	flex-direction : column;
	margin-right : 3%;
}
.article_item {
	width : 100%; 
	display : flex;
	flex-direction : row;
	border-top : 3px solid whitesmoke;
	border-bottom : 3px solid whitesmoke;
	margin-bottom : 10px;
}
.article_item .left {
	width : 30%; 
	display : flex;
	flex-direction : column;
	align-items : center;
	padding : 20px 0;
}
.article_item .left .avatar {
	display : flex;
	align-items : center;
	justify-content : center;
}
.article_item .left .avatar .img {
	width : 96px;
	height : 96px;		
	background : url('/img/avatar.jpg') no-repeat;
	background-size : 96px 96px;
}
.article_item .left .avatar .nickname {
	font-size : 12px;
}
.article_item .middle {
	width : 70%; 
	display : flex;
	flex-direction : column;
	align-items : flex-start;
	padding : 20px 10px;
}
.article_item .middle .title {
	padding : 10px;
	margin-bottom : 20px;
}
.article_item .middle .tabs {
	width : 100%;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : flex-end;
	padding : 10px;
	font-size : 12px;
}
.article_item .middle .tabs .updatetime {
	margin-right : 10px;
}
.article_item .middle .tabs .goodidea {
	margin-right : 10px;
}
.article_item .middle .tabs img {
	font-size : 10px;
	width : 24px;
	height : 24px;
} 
.content .content_right {
	width : 24%;
	display : flex;
	flex-direction : column;
	justify-content : flex-start;
	align-items : center;
	background : #B1BFC4;
}
.blog {
	width : 100%;
	display : flex;
	flex-direction : row;
	align-items : center;
}
.my_blog , .write_blog {
	width : 50%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	margin : 40px 0;
}
.my_blog_img {
	width : 48px;
	height : 68px;
	display : flex;
	align-items : flex-end;
	background : url('/img/my_blog.png') no-repeat;
	font-size: 12px;
}
.my_blog_img:hover {
	color : #1296db;
	background : url('/img/my_blog_h.png') no-repeat;
}
.my_blog_img a:hover {
	color : #1296db;
	text-decoration:none;
}
.write_blog_img {
	width : 48px;
	height : 68px;
	display : flex;
	align-items : flex-end;
	background : url('/img/write_blog.png') no-repeat;
	font-size: 12px;
}
.write_blog_img:hover {
	color : #1296db;
	background : url('/img/write_blog_h.png') no-repeat;
}
.write_blog_img a:hover {
	color : #1296db;
	text-decoration:none;
}