body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
	width : 100%;
}
.container {
    width : 100%;
}
.header {
	display : flex;
	align-items : center;
    width : 100%;
	height : 100px;
	color : #DADAE0;
	/*background : #000000;*/
	background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #000000 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #000000 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #000000 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #000000 0%,#ffffff 100%);
}
.header.container  , .content{
	display : flex;
	flex-direction : row;
	justify-content : flex-end;
    max-width : 960px;
	margin : 0 auto;
}
.logo {
	width : 20%;
	height : 128px;
	background : url('/img/logo.png') no-repeat 18px 18px;
} 
.left_2 {
	width : 30%;
}
.search {
	width : 210px;
	display : flex;
	flex-direction : row;
	padding : 0 10px 0 10px;
	border-radius : 25px;
	background : #DADAE0;
	
}
input {
	border : none;
	width : 164px;
	background : #DADAE0;
}
.search.img {
	width : 24px;
	background-color : #DADAE0;
	background-image : url('/img/search.png');
	background-size : 18px 18px;
	background-repeat : no-repeat;
}
div.search:hover {
	background-color : #ffffff;
}
div.search:hover div{
	background-color : #ffffff;
}
div.search:hover input{
	background-color : #ffffff;
}
.nav {
	width : 50%;
	display : flex;
	justify-content : center;
}
.nav.bar {
	display : block;
	position: relative;
}
.userinfo {
	display : none; 
	position: absolute;
	top: 100%;
	left: 0;
	margin-top : 10px;
	z-index: 100;
	width: 120px;
	background-color: #ffffff;
}
.userinfo_item {
	display : flex;
	justify-content : center;
	align-items : center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top : 2px;
	background-color: #ffffff;
}
.userinfo .userinfo_item:hover{
	background-color : whitesmoke;
	color : black;
}

.nav a , .nav span {
	color : #DADAE0;
	 text-decoration:none;
}
.nav a:hover ,.nav span:hover {
	color : #FFFFFF;
	 text-decoration:none;
}
strong {
	font-weight : bolder;
}


/* home */
.content {
	width : 100%; 
	display : flex;
	flex-direction : row;
}
.content_left {
	width : 73%; 
	display : flex;
	flex-direction : column;
	margin-right : 3%;
}
.article_item {
	width : 100%; 
	display : flex;
	flex-direction : row;
	border-top : 3px solid whitesmoke;
	border-bottom : 3px solid whitesmoke;
	margin-bottom : 10px;
}
.article_item .left {
	width : 30%; 
	display : flex;
	flex-direction : column;
	align-items : center;
	padding : 20px 0;
}
.article_item .left .avatar {
	display : flex;
	align-items : center;
	justify-content : center;
}
.article_item .left .avatar .img {
	width : 96px;
	height : 96px;		
	background : url('/img/avatar.jpg') no-repeat;
	background-size : 96px 96px;
}
.article_item .left .avatar .nickname {
	font-size : 12px;
}
.article_item .middle {
	width : 70%; 
	display : flex;
	flex-direction : column;
	align-items : flex-start;
	padding : 20px 10px;
}
.article_item .middle .title {
	padding : 10px;
	margin-bottom : 20px;
}
.article_item .middle .tabs {
	width : 100%;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : flex-end;
	padding : 10px;
	font-size : 12px;
}
.article_item .middle .tabs .updatetime {
	margin-right : 10px;
}
.article_item .middle .tabs .goodidea {
	margin-right : 10px;
}
.article_item .middle .tabs img {
	font-size : 10px;
	width : 24px;
	height : 24px;
} 
.content .content_right {
	width : 24%;
	display : flex;
	flex-direction : column;
	justify-content : flex-start;
	align-items : center;
	background : #B1BFC4;
}
.blog {
	width : 100%;
	display : flex;
	flex-direction : row;
	align-items : center;
}
.my_blog , .write_blog {
	width : 50%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	margin : 40px 0;
}
.my_blog_img {
	width : 48px;
	height : 68px;
	display : flex;
	align-items : flex-end;
	background : url('/img/my_blog.png') no-repeat;
	font-size: 12px;
}
.my_blog_img:hover {
	color : #1296db;
	background : url('/img/my_blog_h.png') no-repeat;
}
.my_blog_img a:hover {
	color : #1296db;
	text-decoration:none;
}
.write_blog_img {
	width : 48px;
	height : 68px;
	display : flex;
	align-items : flex-end;
	background : url('/img/write_blog.png') no-repeat;
	font-size: 12px;
}
.write_blog_img:hover {
	color : #1296db;
	background : url('/img/write_blog_h.png') no-repeat;
}
.write_blog_img a:hover {
	color : #1296db;
	text-decoration:none;
}

/*write.hbs*/
.content_write {
	width : 100%;
	min-height : 640px;
	background : #DCE1E3;
	display : flex;
	flex-direction : row;
}
.content_write_left, .content_write_right{
	width : 50%;
	display : flex;
	justify-content : center;
	background : #DCE1E3;
}
.content_write_right{
	padding-top : 10px;
}
.content_write_left_bag , .content_write_right_bag{
	width : 90%;
	display : flex;
	flex-direction : column;
	justify-content : flex-start;
	align-items : flex-start;
	background : #ffffff;
}
.content_write_right_bag{
	height : 620px;
	overflow-y : scroll;
}
.content_write_title {
	width : 100%;
	height : 60px;
	display : flex;
	justify-content : center;
	align-items : center;
	background : #DCE1E3;
}
.content_write_title input {
	width : 100%;
	height : 40px;
	font-size : 18px;
	font-family : "黑体";
	background : #ffffff;
}
.content_write_article {
	width : 100%;
	min-height : 580px;
	display : flex;
	justify-content : center;
	align-items : flex-start;
	background : #DCE1E3;
}
.content_write_article textarea {
	width : 100%;
	height : 570px;
	overflow-y:scroll;
	resize:none; 
	border : none;
	background : #ffffff;
}
.content_write_submit {
	width : 100%;
	display : flex;
	justify-content : center;
	background : #DCE1E3;
}
.content_write_submit input {
	width : 80px;
	height : 40px;
	background : #63C9EB;
}

/*user_page*/

.user_content {
	width : 100%;
	display : flex;
	flex-direction : row;
	max-width : 960px;
	margin : 0 auto;
}
.user_content .left {
	width : 30%;
	padding : 40px 0;
	display : flex;
	flex-direction : column;
	background : whitesmoke;
}
.user_content .left .avatar {
	width : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
}
.user_content .avatar_img {
	width : 160px;
	height : 160px;
	border : 1px solid grey;
	border-radius : 15px 15px;
}
.user_content .left .fans {
	width : 100%;
	display : flex;
	flex-direction : row;
	border-bottom : 1px solid grey;
}
.user_content .left .fans .star {
	width : 50%;
	display : flex;
	border-right : 1px solid grey;
	flex-direction : column;
	
}
.user_content .left .fans .follow {
	width : 50%;
	display : flex;
	flex-direction : column;
}
 .user_content .fans .num {
	width : 100%;
	display : flex;
	justify-content : center;
	padding : 20px 0 4px 0;
	align-items : center;
 }
.user_content .fans .name{
	width : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
	padding : 0 0 20px 0;
} 
.user_content .left .level {
	width : 100%;
	display : flex;
	flex-direction : row;
	border-bottom : 1px solid grey;
}
.user_content .left .gold {
	width : 100%;
	display : flex;
	flex-direction : row;
}
.user_content .left .level .level_name ,.user_content .left .level .level_num {
	width : 50%;
	display : flex;
	justify-content : center;
	align-items : center;
	padding : 10px 0;
}
.user_content .left .gold .gold_name ,  .user_content .left .gold .gold_num {
	width : 50%;
	display : flex;
	justify-content : center;
	align-items : center;
	padding : 10px 0;
}


.user_content .right {
	width : calc(100% - 80px);
	padding : 40px 40px;
	display : flex;
	flex-direction : column;
}
.user_content .right .title {
	width : 100%;
	margin : 0 auto;
}
.user_content .right .nickname ,.user_content .right .phone ,.user_content .right .place {
	width : 100%;
	display : flex;
	flex-direction : row;
	margin : 10px 0;
	background : #D2F3FA;;
}
.user_content .right .info {
	width : 100%;
	display : flex;
	flex-direction : column;
	margin : 10px 0;
	background : #D2F3FA;;
}
.user_content .right .name , .user_content .right .value {
	width : 50%;
	display : flex;
	justify-content : flex-start;
	align-items : flex-start;
	padding : 10px 0;
} 
.user_content .right .info .name ,.user_content .right .info .value {
	
}


/*修改个人信息页面*/

.user_info_content {
	width : 100%;
	display : flex;
	justify-content : center;
	max-width : 960px;
	margin : 0 auto;
}
.user_info_content form {
	width : 100%;
	display : flex;
	flex-direction : column;
	align-items : center;
	margin : 0 auto;
}
.back {
	width : 60%;
	display : flex;
	flex-direction : column;
	background : #D2F3FA;
}
.user_info_content .title  {
	width : 100%;
	display : flex;
	flex-direction : row;
	justify-content : flex-start;
	padding : 10px 0;
	margin : 10px;
}
  .user_info_content .nickname  , .user_info_content .avatar ,
.user_info_content .phone , .user_info_content .place  {
	width : 100%;
	display : flex;
	flex-direction : row;
	justify-content : center;
	padding : 10px 0;
	margin : 10px 0;
}
 .user_info_content input {
	 width : 200px;
	 height : 30px;
	 background : #ffffff;
 }
.user_info_content .info{
	width : 100%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	padding : 10px 0;
	margin : 10px 0;
}
.user_info_content .name {
	width : 30%;
	display : flex;
	align-items : center;
	justify-content : center;
}
 .user_info_content .info .name{
	width : 30%;
	display : flex;
	justify-content : center;
	padding : 10px 0;
	margin : 10px 0;
}
 .user_info_content .value {
	width : 70%;
	display : flex;
	align-items : center;
	justify-content : flex-start;
 }
 .user_info_content .info .value {
	 width : 100%;
	display : flex;
	justify-content : center;
 }
 .user_info_content textarea {
	 width : 60%;
	height : 60px;
	resize:none; 
	border : none;
 }
 .user_info_content .btn {
	width : 100px;
	line-height : 30px;
	background : #79A0DA;
	margin : 10px 0;
}
.user_info_content form input:hover {
	box-shadow:0 -1px 10px rgba(23,76,204,0.6);
}
.user_info_content form input:focus {
	box-shadow:0 -1px 10px rgba(23,76,204,0.6);
}
	








